.dashboard {
    a {
        @extend %inherited-color;
    }
}

.review-status {
    @extend %section;
    @extend %borderless;

    li {
        @extend %no-background-color;
        @extend %borderless;
    }
}

.srs-progress {
    @extend %section;

    ul {
        > li {
            @extend %clear-background;
            @extend %shadowless;
        }

        > li:not(:last-child) {
            border-right: 1px solid $list-separator-color;
        }

        @each $level in $srs-levels {
            > ##{$level} > span {
                @include srs-level($level);
            }
        }
    }
}

section.progression {
    @extend %section;

    hr {
        border-bottom-color: $separator-color !important;
        border-top: 0 !important;
    }

    .lattice-single-character {
        @extend %no-background-image;

        li {
            padding: 2px !important;
        }

        a {
            @extend %shadowless;
            filter: brightness(0.7);
        }

        @each $type in 'radical', 'kanji' {
            [id^="#{$type}"] > a {
                @include character($type);
            }
        }
    }
}

.kotoba-table-list {
    @extend %section;
    @extend %list;

    display: flex !important;
    flex-direction: column !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    min-height: 100%;
    position: relative !important;

    span,
    time,
    i {
        @extend %inherited-color;
    }

    table {
        margin-bottom: 38px !important;

        @each $type in $character-types {
            [id^="#{$type}"] {
                @include character($type, $inverted: true);
            }
        }
    }

    .none-available {
        @extend %clear-background;
        @extend %shadowless;

        > td {
            @extend %borderless;

            div {
                @extend %shadowless;

                border-color: $separator-color !important;
            }

            i::before {
                color: $separator-color !important;
            }
        }

        &:hover {
            @extend %no-background-color;

            filter: none !important;
        }
    }

    .see-more {
        bottom: 0 !important;
        position: absolute !important;
        width: 100% !important;
    }
}

.forum-topics-list,
.blog {
    @extend %section;
    @extend %list;

    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.see-more {
    @extend %clear-background;
    @extend %shadowless;

    div {
        @extend %borderless;
        @extend %shadowless;
    }

    a {
        @extend %no-background-image;

        background-color: darken($section-color, 3%) !important;
        border-radius: 0 0 5px 5px !important;
        box-shadow: 0 -1px 1px $shadow-color !important;
        margin-top: 3px !important;
    }
}
