// defines colors and shadows

// color palette
$paper-white:      rgb(252, 252, 252); // #fcfcfc
$iron-grey:        rgb(77, 77, 77);    // #4d4d4d
$charcoal-grey:    rgb(49, 54, 59);    // #31363b
$shade-black:      rgb(35, 38, 41);    // #232629
$plasma-blue:      rgb(61, 174, 233);  // #3daee9
$icon-red:         rgb(218, 68, 83);   // #da4453
$danger-red:       rgb(237, 21, 21);   // #ed1515
$icon-orange:      rgb(244, 119, 80);  // #f47750
$beware-orange:    rgb(246, 116, 0);   // #f67400
$icon-yellow:      rgb(253, 188, 75);  // #fdbc4b
$sunbeam-yellow:   rgb(201, 206, 59);  // #c9ce3b
$mellow-turquoise: rgb(28, 220, 154);  // #1cdc9a
$icon-green:       rgb(46, 204, 113);  // #2ecc71
$verdant-green:    rgb(17, 209, 22);   // #11d116
$icon-blue:        rgb(29, 153, 243);  // #1d99f3

// colors
$text-color:          darken($paper-white, 25%);
$inverted-text-color: invert($text-color);
$background-color:    $charcoal-grey;
$separator-color:     $charcoal-grey;
$input-color:         $shade-black;
$alert-color:         $beware-orange;

// shadows
$shadow-color:       rgba(0, 0, 0, 0.7);
$focus-shadow-color: fade-out($plasma-blue, 0.5);

$shadow:       1px 1px 1px $shadow-color,
               2px 2px 2px $shadow-color;
$shadow-i:     1px 1px 1px $shadow-color inset,
               2px 2px 2px $shadow-color inset;
$shadow-v:     0   1px 1px $shadow-color,
               0   2px 2px $shadow-color;
$focus-shadow: 0   0   5px $focus-shadow-color;

// sections (dashboard, item info, ...)
$section-color:  $shade-black;
$section-shadow: $shadow;

// navigation bar (most pages, except lessons/reviews)
$navbar-color:  $shade-black;
$navbar-shadow: $shadow-v;

// dropdown for navbar
$dropdown-color:       $iron-grey;
$dropdown-shadow:      $shadow;
$dropdown-hover-color: fade-out($shade-black, 0.5);

// character colors
$character-colors: (
    'rad': '/*[[RADICALS_COLOR]]*/', // $plasma-blue
    'kan': '/*[[KANJI_COLOR]]*/',    // $icon-yellow
    'voc': '/*[[VOCAB_COLOR]]*/'     // $icon-green
);

$character-text-color: $shade-black;

// srs levels
$srs-colors: (
    'app': $icon-blue,
    'gur': $mellow-turquoise,
    'mas': $sunbeam-yellow,
    'enl': $beware-orange,
    'bur': $iron-grey
);

// lattice
$percent-colors: (
    '0-20':    $icon-orange,
    '21-40':   $sunbeam-yellow,
    '41-60':   $plasma-blue,
    '61-80':   $icon-blue,
    '81-100':  $mellow-turquoise
);

$progress-colors: (
    'incorrect': $danger-red,
    'down':      $danger-red,
    'correct':   $icon-green,
    'up':        $icon-green
);

$button-background-color: $shade-black;
$button-border-color:     $plasma-blue;

// page list (item info, level info, settings)
$page-list-background-color: $shade-black;
$page-list-item-color:       $plasma-blue;
$page-list-text-color:       $shade-black;
$page-list-separator-color:  $charcoal-grey;
$page-list-hover-color:      rgba(0, 0, 0, 0.2);
$page-list-shadow:           $shadow;
$page-list-focus-shadow:     $focus-shadow;

// popover (dashboard, profile)
$popover-background-color: $iron-grey;
$popover-border-color:     $iron-grey;
$popover-progress-color:   $plasma-blue;
$popover-shadow:           $shadow;

// list
$list-background-color: $shade-black;
$list-head-color:       $icon-blue;
$list-item-color:       $plasma-blue;
$list-separator-color:  $charcoal-grey;
$list-hover-color:      rgba(0, 0, 0, 0.2);
$list-head-shadow:      0 -5px 10px $shadow-color inset;

// user profile
$user-info-background-color: $shade-black;
$user-wos-header-color:      $shade-black;
$wall-of-shame-shadow:       $shadow inset;
$user-avatar-shadow:         $shadow;
$user-info-shadow:           $shadow-v inset, $shadow-v;

// session (review, lesson quiz)
$reading-color:          '/*[[REVIEW_READING_BG]]*/';
$meaning-color:          '/*[[REVIEW_MEANING_BG]]*/';
$supplement-info-shadow: $shadow;
$note-shadow:            $shadow inset;
$addcon-sep-color:       $shade-black;
$question-type-shadow:    $shadow-v inset;
$answer-form-shadow:      $shadow-v inset, $shadow-v;
$answer-exception-shadow: $shadow;
$review-character-shadow: $shadow-v;
$text-meaning-shadow:     0 0 10px $meaning-color;
$text-reading-shadow:     0 0 10px $reading-color;

// lesson
$lesson-color:           $shade-black;
$lessons-header-shadow:  $shadow-v;

// settings/account
$sub-active-color:         $beware-orange;
$action-destructive-color: $beware-orange;
$sub-active-shadow-color:  rgba(246, 116, 0, 0.5);
$payment-submit-shadow:    5px 5px 5px $shadow-color;
$sub-active-shadow:        0 0 5px $sub-active-shadow-color;
$coupon-focus-shadow:      $focus-shadow;
$sub-focus-shadow:         $focus-shadow;

// summary
$reviews-button-color: $shade-black;
$review-stats-color:   $shade-black;
$summary-h2-color:     $shade-black;
$summary-h3-color:     $iron-grey;
$review-stats-shadow:  $shadow;
$summary-shadow:       $shadow;
