$timeline-burned-color: $charcoal-grey;
$timeline-bar-color:    $iron-grey;

$timeline-shadow: $shadow;


#timeln {
    @extend %section;

    // header, icons and day slider
    > h4,
    > i::before,
    > #range_form {
        margin-top: 10px !important;
    }

    > h4 {
        line-height: 0.70em !important;
        margin-left: 10px !important;
    }

    > #range_form {
        margin-right: 10px !important;

        #range_input {
            @extend %borderless;
            @extend %shadowless;
        }
    }

    @each $type in (rad, kan, voc) {
        .#{$type} {
            fill: character-color($type) !important;
        }
    }
}

// the graph container
#timeln-graph {
    margin: 0 !important;
    padding: 10px !important;
}

// the actual graph
#timeline {
    .label-x > text,
    .label-y > text,
    .arrows > polygon {
        fill: $text-color !important;
    }

    .bars > .clr {
        fill: $timeline-bar-color !important;
    }

    .bars > .bur {
        fill: $timeline-burned-color !important;
    }
}

// settings popover
#timeln-settings {
    @extend %popup;

    padding: 25px !important;

    > h4 {
        @extend %no-background-color;
    }

    .buttons {
        @extend %no-background-color;
    }
}

// info popover
#graph-bar-info {
    @extend %popover;

    .summary > div > div,
    .detail li {
        @extend %no-background-image;
    }

    .tot {
        @extend %clear-background;
    }

    .rad {
        @include character('radical');

        border-radius: 5px 5px 0 0;

        // workaround for radicals represented as images
        img {
            filter: brightness(0.1) !important;
        }
    }

    .kan {
        @include character('kanji');
    }

    .voc {
        @include character('vocabulary');

        border-radius: 0 0 5px 5px;
    }

    .cur {
        @extend %clear-background;
    }

    .bur {
        @extend %no-background-image;

        background-color: $timeline-burned-color !important;
        border-radius: 5px !important;
    }
}
