.alert {
    @extend %borderless;

    background-color: $alert-color !important;

    * {
        color: $inverted-text-color !important;
    }
}

[class$=alert] {
    @extend %section;
    @extend %no-background-image;

    background-color: $alert-color !important;

    > h3 {
        color: $inverted-text-color !important;
    }
}
