@each $item in radical, kanji, vocabulary {
    [class*="highlight-#{$item}"],
    [class*="#{$item}-highlight"] {
        @include character($item);
    }
}

[class*="highlight"] {
    @extend %no-background-image;
    @extend %shadowless;

    border-radius: 3px !important;
}

.highlight-reading {
    @extend %reading;
}

.highlight-meaning {
    @extend %meaning;
}
