input {
    @extend %text-input-element;
}

input[type="checkbox"] {
    @extend %shadowless;
}

#user_password {
    &:focus {
        border: {
            left: 2px solid $danger-red !important;
            right: 2px solid $danger-red !important;
        }
    }
}

#user_current_password {
    &:focus {
        border: {
            left: 2px solid $beware-orange !important;
            right: 2px solid $beware-orange !important;
        }
    }
}
