.legend {
    @extend %section;

    @each $range in ('0-20', '21-40', '41-60', '61-80', '81-100') {
        .percentage-#{$range} {
            @include percent($range, $text-only: false);
        }
    }

    @each $level in (apprentice, guru, master, enlighten, burned) {
        .#{$level}-lattice {
            @include srs-level($level);
        }
    }


    ul {
        span {
            @extend %shadowless;

            margin-left: 1vh !important;
            margin-right: 1vh !important;

            &.all {
                @include character('radical');
            }

            @each $type in ('radicals', 'kanji', 'vocabulary') {
                &.#{$type} {
                    @include character($type);
                }
            }
        }

        .locked {
            @extend %locked;
            @extend %no-background-color;
        }
    }

    [class*="percentage"],
    [class*="lattice"] {
        filter: brightness(0.8) !important;
    }

    [class*="lattice"] {
        @extend %no-background-color;
    }
}
